<h1 class="mb-1 restaurant-show-title text-center"style="font-weight:bold;">請修改你的支出</h1>
<h3 class="text-center mt-3"><span class="text-danger">*</span>為必填欄位</h3>
<div class="container" style="width:300px;">
  <form action="/expenses/{{expenseData._id}}?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">名稱<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="請輸入項目名稱" name="name"
        value="{{expenseData.name}}" required />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">分類<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="category" placeholder="餐飲食品" list="categoryOptions" name="categoryId"
        value="{{expenseData.categoryId}}" required />
      {{! 使用datalist，讓使用者可選擇或自行輸入 }}
    <datalist id="categoryOptions">
      <option value="1">家居物業</option>
      <option value="2">交通出行</option>
      <option value="3">休閒娛樂</option>
      <option value="4">餐飲食品</option>
      <option value="5">其他</option>
    </datalist>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">日期<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="date" name="date" value="{{expenseData.date}}" required />
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">金額<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="amount" placeholder="輸入金額" name="amount"
        value="{{expenseData.amount}}" required />
    </div>
    <div class="d-grid gap-2 col-6 mx-auto text-center"><a href="/expenses/new"><button class="btn btn-white"
          style="border-color:black;">
          <h4>送出</h4>
        </button></a></div>
  </form>
</div>