<div class="d-flex justify-content-center mt-5">
  <div class="col-auto mt-3" align="center">
    <form action="/search" method="GET">
      <select class="form-select w-200" style="width:500px; text-align:center" id="category" name="categoryId"
        onchange="this.form.submit()">
        <option value="1" {{#if typeObject.isOne }}selected{{/if}}>家居物業</option>
        <option value="2" {{#if typeObject.isTwo }}selected{{/if}}>交通出行</option>
        <option value="3" {{#if typeObject.isThree }}selected{{/if}}>休閒娛樂</option>
        <option value="4" {{#if typeObject.isFour }}selected{{/if}}>餐飲食品</option>
        <option value="5" {{#if typeObject.isFive }}selected{{/if}}>其他</option>
        <option value="6" {{#if typeObject.isSix }}selected{{/if}}>所有分類</option>
      </select>
    </form>
  </div>
</div>

<div class="container text-center">
  <div class="mt-3">
    <h5 class="fw-bold">總金額: <h1><strong style="color:#e0750a;">{{totalAmount}}</strong></h1>
    </h5>
  </div>

  <ul class="list-group  list-group-item-action active mb-5 mt-3 " >
    {{#each expensesData}}
    <li class="list-group-item" style="background-color: rgb(255, 255, 255);">
      <div class="row align-items-center">
        {{!-- icon --}}
        <div class="col-2">
          {{{showIcon this.categoryId }}}
        </div>
        {{!-- category & date --}}
        <div class="col-auto me-auto">
          <div class="name-text fw-bold">{{ this.name }}</div>
          <div class="note">{{ this.date }}</div>
        </div>
        {{!-- amount --}}
        <div class="col-auto"><span style="color:rgb(255, 0, 0);font-weight:bold">{{this.amount}}元</span>
        </div>

        {{!-- button --}}
        <div class="col-auto d-flex"><a href="/expenses/{{this._id}}/edit"><button type="button"
              class="btn btn-success btn-sm">編輯</button></a>
          <form action="/expenses/{{this._id}}?_method=DELETE" method="post"
            onsubmit="return confirm('要刪除這筆記帳資料嗎?按下去不回頭歐')">
            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="d-grid gap-2 col-6 mx-auto"><a href="/expenses/new"><button class="btn btn-white"
        style="border-color:black;">
        <h4>新增支出</h4>
      </button></a></div>
</div>